#rpscontainer {
  height: 100vh;
  position: fixed;
  width: 100vw;
}

#rpscontainer h1 {
  margin-top: 30px;
}

#rps-choices li {
    display: inline-block;
    margin-right: 5px;
}

/* centers the spinner*/
#ai {
  width: fit-content;
  margin: auto;
}

/* Adapted from https://www.w3schools.com/howto/howto_css_loader.asp */
.spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #000;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
