#game {
  text-align: center;
  height: 100vh;
  border: 0.01px solid transparent;
}

/*the text at the top where displays player*/
.status {
  margin: 20px 0px;
  font-size: 40px;
}

/*the entire 3 x 3 squares of buttons*/
#board {
  /*centers horizontally*/
  width: 100px;
  display: block;
  margin: auto;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}


.board-row:after {
    clear: both;
    content: '';
    display: table;
}

/*the buttons on the bottom of grid*/
.game-info li {
  list-style: none;
  margin-right: 50px;
}

.game-info li button {
  width: 150px;
  padding: 5px;
  margin: 7px;
}

/*gives more margin to the last button/list item*/
.game-info:last-child {
  margin-bottom: 50px;
}

@media screen and (max-height: 700px) {
  body {
    overflow-y: scroll;
  }
}
