@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.container {
    background: url("../images/Watercolor.png");
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
  overflow: hidden;
}

#comment {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(146,107,84);
}

#comment h1 {
  font-family: 'Courier New', monospace;
  font-size: 90px;
  margin-bottom: 0px;
}

#comment h2 {
  font-family: 'Allura', cursive;
  font-size: 50px;
}
